{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Добро пожаловать в сервис рассылок</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Всего рассылок</div>
            <div class="card-body">
                <h5 class="card-title display-4">{{ total_mailings }}</h5>
                <p class="card-text">создано в системе</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Активные рассылки</div>
            <div class="card-body">
                <h5 class="card-title display-4">{{ active_mailings }}</h5>
                <p class="card-text">в данный момент</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Получатели</div>
            <div class="card-body">
                <h5 class="card-title display-4">{{ total_clients }}</h5>
                <p class="card-text">в базе данных</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Быстрые действия</h5>
            </div>
            <div class="card-body">
                <a href="{% url 'mailing:client_create' %}" class="btn btn-primary">➕ Добавить клиента</a>
                <a href="{% url 'mailing:message_create' %}" class="btn btn-primary">📝 Создать сообщение</a>
                <a href="{% url 'mailing:mailing_create' %}" class="btn btn-primary">📧 Новая рассылка</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
