{% autoescape off %}
Здравствуйте,

Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на сайте {{ domain }}.

Пожалуйста, перейдите по ссылке ниже и выберите новый пароль:
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Ваше имя пользователя: {{ user.get_username }}

Ссылка действительна в течение ограниченного времени.

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.

С уважением,
Команда сервиса рассылок
{% endautoescape %}